<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p style="text-align:justify;">I am thriving to become an excellent Data-Engineer. My aim is to enable Big-Data applications on databases itself. I don't want to limit myself in just cluster computing for Big-Data, I want to give database the power so that they support hardware accelerations of GPUs or TPUs whenever HPC is required. My education goal is to make Big-Data scalable.</p>
</div><!--//summary-->
</section><!--//section-->
