 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Master's (Computer Science)</h4>
    <h5 class="meta">Arizona State University</h5>
    <div class="time">2017-Present</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B-Tech (Computer Science)</h4>
    <h5 class="meta">Guru Gobind Singh Indraprastha University</h5>
    <div class="time">2010-2014</div>
</div><!--//item-->
</div><!--//education-container-->
