<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>
                      <!-- You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus. -->
                    </p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Blue Dolphin Cloud</a></span> - <span class="project-tagline">A VPC being made inside AWS cloud to help managers track their field force by building analytics in real-time.</span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">SVAR</a></span> -
                    <span class="project-tagline">A product, based on the linear regression model, being used to judge English speaking and listening proficiency.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">SVAR tool</a></span> - <span class="project-tagline">Tool used by the Sales team to track the usage of the product by clients. This tool communicates with SVAR installation in 4 countries.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Automata</a></span> - <span class="project-tagline">This product helps companies to judge algorithmic skills of candidates who are applying for jobs.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Visualisation Engine</a></span> - <span class="project-tagline">A project was undertaken by TCS to help Indian Railways understand what is happening at the railway stations. This project aims at Data Analytics by building visualisations.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Sentiment Analysis and Information Extraction</a></span> - <span class="project-tagline">It is Natural Language Processing project. The project aims at predicting the sentiment of the document as well as sentiments on the nouns mentioned in the document. It uses Twitter and IMDb data for training and benchmarks the two types of data for NLP.</span>
                </div><!--//item-->
            </section><!--//section-->
